
.body,.card{
  width:300px;
  height: 120px;
  background-color: #FCD7AD;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  padding:40px 35px;
  border-radius: 20px;
  justify-content: space-between;
}
body{
  margin:0;

}
input,button{
  border: none;
  padding: 6px 12px;
  border-radius: 10px;
}

.card{
  height:100px;
  padding: 12px 20px;
  justify-content: space-around;

}
h2,h3{
  margin: 0;
}
.header{
  display: flex;
  font-size: larger;
  height: 100px;
  flex-wrap: wrap;
  flex-grow: 1; 
}

.logo{
  padding: 40px ;
  background-color:#FCD7AD;
  margin:0 auto;
  width: 27%;
  text-align: center;
  border-radius: 8px;
  
}

.options{
  text-decoration: none;
  color:rgb(137, 110, 110);
  font-weight: 800;
  font-size: x-large;

}



















/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
